:root {
  --bg-primary-400: #f5f3e6;
  --bg-primary-200: #f3f2ec;
  --bg-secodary-100: #f2ebdf;

  --bg-secondary-400: #143247;

  --primary-text-400: #ffffff;

  --secondary-text-400: #efc884;
  --secondary-text-200: rgb(245, 212, 154);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.logo {
  height: 4rem;
  width: 4rem;
}

.icon {
  height: 1.3rem;
  width: 1.3rem;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  background: var(--bg-primary-400);

  position: absolute;
}
